.PokeGrid {
    display: grid;
   flex-direction: column;
   flex-wrap: nowrap;
   background-color: rgb(207, 52, 182);
   width: 400px;
   height: 600px;
   overflow: auto;
   justify-content: space-around;
   align-items: center;
}

img {
    width: 100px;
    height: 80px;
}